/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff5f8;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
}

h1, h3 {
    color: #ff385c; /* Airbnb rose */
}

a {
    text-decoration: none;
    color: #ff385c;
}

a:hover {
    text-decoration: underline;
    color: #e31c4a;
}

/* Header */
header {
    border-bottom: 1px solid #f7f7f7;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background-image: url(back1.jpg);
    background-size: cover;
}

.navbar-brand {
    color: #ff385c !important;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px; /* Espace entre l'emoji et le texte */
}

.navbar-brand::before {
    content: "🏠"; /* Emoji maison */
    font-size: 2.5rem;
    color: #ff385c; /* Rose Airbnb */
}

.navbar-nav .nav-link {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 600;
}

.navbar-nav .nav-link:hover {
    color: #ff385c;
}

section {
    position: relative;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px; /* Agrandissement du margin-bottom */
}

section::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    z-index: -1;
}

section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2rem;
    color: #4a4a4a;
}

main {
    margin-bottom: 60px; 
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(213, 25, 25, 0.85); 
    backdrop-filter: blur(100px); 
}

.card-header {
    background-color: #ff385c;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.btn {
    background-color: #ff385c;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e31c4a;
    color: #ffffff;
}

/* Footer */
footer {
    background-color: #ffffff;
    border-top: 1px solid #f7f7f7;
    padding: 40px 0;
}

footer h5 {
    color: #ff385c;
    font-weight: bold;
    margin-bottom: 15px;
}

footer a {
    color: #4a4a4a;
    font-size: 0.9rem;
}

footer a:hover {
    color: #ff385c;
    text-decoration: underline;
}

footer p {
    color: #4a4a4a;
    margin-bottom: 5px;
}

footer small {
    color: #a7a7a7;
}


@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .card {
        margin-top: 20px;
    }

    footer .row {
        text-align: center;
    }
}
